<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2009 Fraunhofer IWU and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Fraunhofer IWU - initial API and implementation
 -->

<plugin>

  <extension-point id="itemProviderAdapterFactories" name="%_UI_ItemProviderAdapterFactory_extensionpoint" schema="schema/itemProviderAdapterFactories.exsd" />
  <extension-point id="childCreationExtenders" name="%_UI_ChildCreationExtender_extensionpoint" schema="schema/childCreationExtenders.exsd" />

  <extension point="net.enilink.komma.edit.itemProviderAdapterFactories">
    <factory uri="http://enilink.net/vocab/komma/models#" class="net.enilink.komma.edit.provider.model.ModelItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          net.enilink.komma.edit.provider.IStructuredItemContentProvider
          net.enilink.komma.edit.provider.ITreeItemContentProvider
          net.enilink.komma.edit.provider.IItemLabelProvider
          net.enilink.komma.edit.provider.IItemPropertySource" />
  </extension>

</plugin>
