<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:net.enilink.komma.edit.ui.menu">
         <command
               commandId="net.enilink.komma.edit.ui.loadModel"
               label="%_UI_LoadModel_menu_item"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.enilink.komma.edit.ui.rcp.commands.LoadModelHandler"
            commandId="net.enilink.komma.edit.ui.loadModel">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%_UI_LoadModel_cmd_description"
            id="net.enilink.komma.edit.ui.loadModel"
            name="%_UI_LoadModel_cmd">
      </command>
   </extension>

</plugin>
