<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2010 Fraunhofer IWU and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Fraunhofer IWU - initial API and implementation
 -->

<plugin>
   <extension-point id="models" name="Base Models" schema="schema/models.exsd"/>
   
   <extension-point id="extensionFactories" name="Extension Factories" schema="schema/extensionFactories.exsd"/>
   <extension-point id="protocolFactories" name="Protocol Factories" schema="schema/protocolFactories.exsd"/>
   <extension-point id="contentFactories" name="Content Factories" schema="schema/contentFactories.exsd"/>
   <extension-point id="contentHandlers" name="Content Handlers" schema="schema/contentHandlers.exsd"/>
   <extension-point id="uriMapRules" name="uriMapRules" schema="schema/uriMapRules.exsd" />
   <extension-point id="modelBehaviours" name="Behaviours for different model set and model types" schema="schema/modelBehaviours.exsd"/>
   <extension-point id="modules" name="Extension Modules" schema="schema/modules.exsd"/>
   
   <extension
         point="net.enilink.komma.model.models">
      <model
            namespace="http://enilink.net/vocab/komma#"
            prefix="komma"/>
      <model
            namespace="http://enilink.net/vocab/komma/models#"
            prefix="models">
      </model>
   </extension>
   <extension
         point="net.enilink.komma.model.extensionFactories">
      <factory
            class="net.enilink.komma.model.mem.MemoryModelFactory"
            type="*">
      </factory>
   </extension>
   <extension
         point="net.enilink.komma.model.uriMapRules">
      <rule
            pattern="^.*$"
            priority="50"
            replacement="$0.owl"
            unlessPattern="\.[^/]+$">
      </rule>
      <rule
            pattern="http://enilink.net/vocab/komma/models"
            priority="5"
            replacement="platform:/plugin/net.enilink.komma.model/META-INF/ontologies/models">
      </rule>
   </extension>
   <extension
         point="net.enilink.komma.model.modelBehaviours">
      <modelBehaviour
            class="net.enilink.komma.model.sesame.MemoryModelSetSupport">
      </modelBehaviour>
      <modelBehaviour
            class="net.enilink.komma.model.sesame.MemoryModelSupport">
      </modelBehaviour>
      <modelBehaviour
            class="net.enilink.komma.model.IModelSet">
      </modelBehaviour>
      <modelBehaviour
            class="net.enilink.komma.model.IModel">
      </modelBehaviour>
      <modelBehaviour
            class="net.enilink.komma.model.sesame.RemoteModelSetSupport">
      </modelBehaviour>
   </extension>
</plugin>
