<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.enilink.komma.rdf"
            class="net.enilink.komma.edit.ui.properties.internal.parts.PropertyTreeView"
            icon="icons/full/view16/rdf_16x16.png"
            id="net.enilink.komma.edit.ui.properties.views.PropertyTreeView"
            name="RDF"
            restorable="true">
      </view>
      <view
            category="net.enilink.komma.rdf"
            class="net.enilink.komma.edit.ui.properties.internal.parts.StatementView"
            icon="icons/full/view16/rdf_16x16.png"
            id="net.enilink.komma.edit.ui.properties.views.StatementView"
            name="Statement"
            restorable="true">
      </view>
   </extension>

</plugin>
